@import url(https://fonts.googleapis.com/css?family=Lato:400,700);

body {
  background: #11bcaf;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #171d23;
  margin: 00;
}

.container {
  width: 300px;
  height: 300px;
  margin: auto;
}

.login_bar {
  width: 300px;
  height: 50px;
  background: white;
  border-radius: 10px;
  top: 50%;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.login {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 190px;
  padding-left: 10px;
  text-align: left;
  line-height: 50px;
  vertical-align: middle;
  z-index: 10;
  -webkit-transition: transform 0.2s ease-in-out 0s;
  -moz-transition: transform 0.2s ease-in-out 0s;
  -o-transition: transform 0.2s ease-in-out 0s;
  transition: transform 0.2s ease-in-out 0s;
}

.login_active {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px);
}

.subscribe_button:hover {
  background-color: #222a33;
  cursor: pointer;
}

.subscribe_button {
  background: #171d23;
  position: absolute;
  top: -50px;
  left: 200px;
  /* border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; */
  height: 100px;
  width: 100px;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
  color: white;
  /* -webkit-transition: transform 0.5s ease 0s; */
  /* -moz-transition: transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s; */
}

/* .subscribe_button_active {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
} */

.subscribing {
  background: #cdd4dc;
  height: 100%;
  width: 300px;
  z-index: 5;
  position: absolute;
  left: -300px;
  display: inline-block;
  /* -webkit-transition: transform 1s ease 0s;
  -moz-transition: transform 1s ease 0s;
  -o-transition: transform 1s ease 0s;
  transition: transform 1s ease 0s; */
}

.subscribing_active {
  -webkit-transform: translateX(300px);
  -moz-transform: translateX(300px);
  /* -ms-transform: translateX(300px);
  -o-transform: translateX(300px);
  transform: translateX(300px); */
}

.thanks {
  background: transparent;
  height: 100%;
  width: 300px;
  z-index: 5;
  text-align: left;
  line-height: 50px;
  vertical-align: middle;
  padding-left: 10px;
  position: absolute;
  top: 50px;
  display: inline-block;
  /* -webkit-transition: transform 0.5s ease 0s;
  -moz-transition: transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s; */
}

/* .thanks_active {
  -webkit-transform: translateY(-50px);
  -moz-transform: translateY(-50px);
  -ms-transform: translateY(-50px);
  -o-transform: translateY(-50px);
  transform: translateY(-50px);
} */
